@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/**/
}

body{
    width: 100%;
    margin: 0 auto;
    background-color: #FE9055;
}

header{
    display: flex;
    justify-content: space-between;/*x-axis*/
    align-items: center;/*y-axis*/
    background-color: hsla(0, 0%, 100%, 0.5);
    width: auto;
    font-family: "Urbanist", sans-serif;
    font-size: 25px;
}

.logo{
    padding: auto;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul a{
    text-decoration: none;
    color: white;
    text-transform: none;
}

nav ul a li{
    padding: 50px 60px;
    transition: 0.5s;
}

nav ul a li:hover{
    color: #FE9055;
    text-shadow: 0 0 15px #461A3E;
}

.logo:hover{
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 1));
    transition: 0.5s;
}

.title{
    font-family: "Urbanist", sans-serif;
    color: #461A3E;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    margin-bottom: 50px;
}

.profile img{
    border-radius: 100px;
    filter: drop-shadow(0 0 40px #461A3E);
}

.groupinfo{
    align-content: center;
    margin-left: 50px
}

.socialmedia{
    display: flex;
}

.socialmedia a{
    margin: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.socialmedia a:hover{
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    transition: 0.3s;
}
    
.groupinfo h2{
   font-family: "Urbanist", sans-serif; 
    color: #461A3E;
    font-size: 50px;
    text-align: left;
}

.groupinfo p{
    font-family: "Urbanist", sans-serif; 
    font-size: 25px;
}

footer{
    display: flex;
    justify-content: space-between;/*x-axis*/
    align-items: center;/*y-axis*/
    width: auto;
    font-family: "Urbanist", sans-serif;
    font-size: 25px;
    background-color: #461A3E;
}

.footerlogo{
    margin: 20px;
    padding: auto;
    filter: drop-shadow(0 0 30px white);
}

.footernav{
    margin-right: 100px;
}

.footernav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footernav > ul{
    display: flex;
    gap: 80px;
}

.footernav a{
    text-decoration: none;
    color: white;
    text-transform: none;
}

.footernav > ul > li > a{
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
}

.subnav li a{
    font-size: 16px;
    color: #ddd;
    display: block;
    margin-bottom: 8px;
}