@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/**/
}

body{
    width: 100%;
    margin: 0 auto;
    background-color: #FE9055;
}

header{
    display: flex;
    justify-content: space-between;/*x-axis*/
    align-items: center;/*y-axis*/
    background-color: hsla(0, 0%, 100%, 0.5);
    width: auto;
    font-family: "Urbanist", sans-serif;
    font-size: 25px;
}

.logo{
    padding: auto;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul a{
    text-decoration: none;
    color: white;
    text-transform: none;
}

nav ul a li{
    padding: 50px 60px;
    transition: 0.5s;
}

nav ul a li:hover{
    color: #FE9055;
    text-shadow: 0 0 15px #461A3E;
}

.logo:hover{
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 1));
    transition: 0.5s;
}

.title{
    font-family: "Urbanist", sans-serif;
    color: #461A3E;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.collab{
    background-color: chocolate;
    padding: 50px;
    margin: 0 100px;
    border-radius: 200px;
    margin-bottom: 50px;
}

.collabimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.collabimg img{
    position: relative;
}

.collabimg h1{
    position: absolute;
    font-family: "Urbanist", sans-serif;
    color: #FE9055;
    font-size: 70px;
    padding: 20px;
    text-align: center;
    text-shadow: 0 0 25px #461A3E;
}

.collabbutton{
    align-items: flex-end;
}

.collabbutton a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Urbanist", sans-serif;
    height: auto;
    font-size: 50px;
}

.collab .collabbutton{
    background-color: #AD74A7;
    width: 217px;
    text-align: center;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    
}

.collab .collabbutton:hover{
    background-color: #461A3E;
    transition: 0.5s;
}

.eventgallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #AD74A7;
    padding: 20px;
}

.eventcontent{
    margin: 50px;
    background-color: #461A3E;
    width: 40%;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.eventcontent:hover{
    border: 10px solid #AD74A7;
    transition: 0.1s;
}

.eventcontent img {
    width: 95%;
    height: auto;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

.eventcontent .desc{
    padding: 15px;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    color: #FE9055;
    font-size: 30px;
}










footer{
    display: flex;
    justify-content: space-between;/*x-axis*/
    align-items: center;/*y-axis*/
    width: auto;
    font-family: "Urbanist", sans-serif;
    font-size: 25px;
    background-color: #461A3E;
}

.footerlogo{
    margin: 20px;
    padding: auto;
    filter: drop-shadow(0 0 30px white);
}

.footernav{
    margin-right: 100px;
}

.footernav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footernav > ul{
    display: flex;
    gap: 80px;
}

.footernav a{
    text-decoration: none;
    color: white;
    text-transform: none;
}

.footernav > ul > li > a{
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
}

.subnav li a{
    font-size: 16px;
    color: #ddd;
    display: block;
    margin-bottom: 8px;
}
